/* Global */

@font-face {
	font-family: 'DJB Jacked Up Kinda Luv';
	src: url('DJB Jacked Up Kinda Luv.ttf');
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
	background-color: white;
	background-image: url('/images/background.jpg');
	margin: 0;
    padding: 0;
    height: 100%;
}

footer {
	display: none;
	background-color: #f6a6c1;
	position: absolute;
    width: 100%;
    bottom: 0;
    text-align: right;
    padding: 8px 8px 0 0;
}

footer a {
	color: #f6a6c1;
}

@media (min-width: 768px) {
	footer {
		display: block;
	}
}

a {
	color: #e05993;
}

h1 {
	margin-bottom: 20px;
}

p {
	font-size: 1.65em;
	font-family: 'Open Sans Condensed', sans-serif;
}

ul {
	font-family: 'Open Sans Condensed', sans-serif;
}

small {
	font-family: 'Open Sans Condensed', sans-serif;
}

hr {
	border-top: 1px solid #f6a6c1;
	width: 80%;
}






/*Class Colors*/

.death-knight-color {
	color: #D95D61;
}

.death-knight-bg-color {
	background-color: #D95D61;
}

.demon-hunter-color {
	color: #E5B3FF;
}

.demon-hunter-bg-color {
	background-color: #E5B3FF;
}

.druid-color {
	color: #F08A42;
}

.druid-bg-color {
	background-color: #F08A42;
}

.hunter-color {
	color: #A8D063;
}

.hunter-bg-color {
	background-color: #A8D063;
}

.mage-color {
	color: #A6CFE9;
}

.mage-bg-color {
	background-color: #A6CFE9;
}

.monk-color {
	color: #73E0AF;
}

.monk-bg-color {
	background-color: #73E0AF;
}

.paladin-color {
	color: #ECA8C3;
}

.paladin-bg-color {
	background-color: #ECA8C3;
}

.priest-color {
	color: #BCBBBB;
}

.priest-bg-color {
	background-color: #BCBBBB;
}

.rogue-color {
	color: #FFD600;
}

.rogue-bg-color {
	background-color: #FFD600;
}

.shaman-color {
	color: #6797DE;
}

.shaman-bg-color {
	background-color: #6797DE;
}

.warlock-color {
	color: #DAACF7;
}

.warlock-bg-color {
	background-color: #DAACF7;
}

.warrior-color {
	color: #CEBB9E;
}

.warrior-bg-color {
	background-color: #CEBB9E;
}



/* Header Section */

#header {
	background-color: #f6a6c1;
	/*background-image: url("/images/headerbackground.png");*/
	border: 4px solid #fbcfe2;
}

@media (min-width: 768px) {
	#header {
		border-radius: 10px;
	}
}

@media (min-width: 992px) {
	#header {
		margin: 50px 0 0 0;
	}
}

#guild-text-container {
	padding: 10px;
	color: #ffffff;
	height: 140px;
}

#guild-logo-container {
	padding: 10px 10px 0 10px;
}

@media (min-width: 992px) {
	#guild-logo-container {
		padding: 25px 10px 0 10px;
	}
}

@media (min-width: 1200px) {
	#guild-logo-container {
		padding: 15px 10px 0 10px;
	}
}

#guild-logo-container img {
	margin: auto;
}

#guild-name {
	height: 85px;
	font-size: 350%;
	font-family: 'DJB Jacked Up Kinda Luv', cursive;
	white-space: nowrap;
	text-align: center;
}

#guild-progress {
	font-size: 1.6em;
	display: none;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}

@media (min-width: 992px) {
	#guild-name {
		text-align: left;
	}

	#guild-progress {
		text-align: left;
		padding: 0 0 0 15px;
	}
}

#nav-container {
	padding: 0;
	text-align: center;
	overflow-x:auto;
}

.nav {
	vertical-align: bottom;
	font-size: 1.45em;
	display:inline-flex;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0 0 10px 0;
}

@media (min-width: 992px) {
	.nav {
		height: 95px;
		margin: 40px 0 0 0;
		font-size: 2em;
	}
}

.nav a {
	color: #fde4ef;
}

/* Bootstrap Navigation Pill Color */
.nav-pills > li > a:hover, .nav-pills > li > a:focus {
    background-color: transparent;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:#e05993;
    background-color:#ffffff;
}



/* Footer Section */

#social-media-footer {
    text-align: center;
    width: 100%;
    bottom: 40px;
    margin: 10px 0;
}

@media (min-width: 768px) {
	#social-media-footer {
		position: absolute;
		margin: 0;
	}
}



/*Content Section */

.wrapper {
	position: relative;
    margin: 0 auto;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

.container {
	padding-bottom: 0px;
}

@media (min-width: 768px) {
	#content {
		margin: 20px 0;
	}
	.container {
		padding-bottom: 80px;
	}
}

@media (min-width: 992px) {
	#content {
		margin: 20px;
	}
}

.text-box {
	border: 4px solid #f6a6c1;
	background-color: #ffffff;
    padding: 20px 60px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.table-box {
	border: 4px solid #f6a6c1;
	background-color: #ffffff;
    padding: 20px 10px;
	font-family: 'Open Sans Condensed', sans-serif;
}

@media (min-width: 768px) {
	.text-box {
		border-radius: 10px;
	}
	.table-box {
		border-radius: 10px;
	}
}

.table-responsive {
	margin: 0;
}

/* Home Page */

#about-us-container {
	padding: 0;
}

@media (min-width: 768px) {
	#about-us-container {
	padding: 0 0 20px 0;
	}
}

@media (min-width: 992px) {
	#about-us-container {
	padding: 0 20px 0 0;
	}
}

#about-us-image-container {
	padding: 0;
	background-image: url('/images/aboutus.jpg');
	background-size: cover;
	background-position: center bottom;
	border: 4px solid #f6a6c1;
	height: 400px;
}

@media (min-width: 768px) {
	#about-us-image-container {
		border-radius: 10px;
		height: auto;
	}
}


/* Raid Team Page */

#raider-container {
	display: none;
	max-width: 1100px;
	margin: 0 auto;
	padding: 20px;
	border: 4px solid #f6a6c1;
	background-color: #ffffff;
	font-family: 'Open Sans Condensed', sans-serif;
}

@media (min-width: 768px) {
	#raider-container {
		border-radius: 10px;
	}
}

#raider-container p {
	padding: 0 15px;
}

.guild-member-portrait {
	width: 100%;
	height: 100%;
	position: relative;
}

.guild-member-portrait:hover {
    cursor: pointer;
    background-color: #f6a6c1;
}

.guild-member-name {
	position: absolute;
	background-color: rgba(255,255,255,.6);
	background-clip: content-box;
	text-shadow: 0 -2px 5px black, 2px 0 5px black, 0 2px 5px black, -2px 0 5px black;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.7em;
	font-weight: bold;
	margin: 20px;
	bottom: 15px;
	left: 0;
	right: 0;
	text-align: center;
	pointer-events: none;
}

.guild-member-name:hover {
	cursor: pointer;
}

#fullscreen-container {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	padding: 0;
	z-index: 1;
}

#fullscreen-sub-container {
	margin: auto;
	width: 90%;
	top: 50%;
}

#fullscreen-image-container {
	padding: 20px 0 0 0;
}

@media (min-width: 768px) {
	#fullscreen-image-container {
		display: initial;
	}
}


@media (min-width: 992px) {
	#fullscreen-sub-container {
		position: relative;
		width: 90%;
		top: 50%;
  		transform: translateY(-50%);
	}

	#fullscreen-image-container {
		padding: 0 0 0 20px;
	}
}

#fullscreen-image-container img {
	padding: 0;
	border: 4px solid #f6a6c1;
	border-radius: 10px;
	max-width: 100%;
}

#fullscreen-description-container {
	background-color: rgba(255,255,255,0.85);
	color: black;
	overflow-y: auto;
	max-height: 60vh;
	margin: 18px 0 0 0;
}

@media (min-width: 768px) {
	#fullscreen-description-container {
		max-height: 70vh;
		margin: 0;
	}
}


#fullscreen-member-name {
	font-family: 'DJB Jacked Up Kinda Luv', cursive;
	text-align: center;
}

#fullscreen-member-name small {
	text-shadow: none;
}

#fullscreen-text-description {
	font-size: 1.5em;
	font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px 30px 0 30px;
}

#fullscreen-member-rank {
	color: #f6a6c1;
}

#armory-button {
	margin: 0 0 20px 0;
}

#armory-button a {
	font-size: 1.65em;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #e05993;
}


/* Join Page */

.openings-container {
	padding: 0;
	font-size: 1.5em;
	font-weight: bold;
}

#join-us-container {
	padding: 0;
}

#join-us-container ul {
    font-size: 1.6em;
}

#join-us-container hr {
	width: 100%;
}

#schedule-container {
	margin-bottom: 30px;
}

#mythic-table {
	margin-top: 30px;
}

@media (min-width: 768px) {
	#join-us-container {
		padding: 0 0 0 20px;
	}
}

@media (min-width: 992px) {
	.openings-container {
	padding: 0;
	}
}


/* Contact Page */

#contact-us-container {
	padding: 0;
}

#contact-us-thumbnail-container {
	margin: 0 auto;
	padding: 20px;
	border: 4px solid #f6a6c1;
	background-color: #ffffff;
	font-family: 'Open Sans Condensed', sans-serif;
}

#social-media-container {
	font-size: 2em;
}

#social-media-container ul {
	list-style-type: none;
	padding: 0;
}

#social-media-container li {
	margin: 10px 0;
}

#social-media-container a {
	margin-top: 40px;
}

#social-media-container img {
	margin-right: 10px;
}

.contact-info-portrait {
	position: relative;
	width: auto;
	margin: 10px auto;
	max-width: 302px;
	min-width: 100px;
}

@media (min-width: 768px) {
	#contact-us-thumbnail-container {
		padding: 20px 100px;
		border-radius: 10px;
	}
	#contact-us-container {
		padding: 0 0 20px 0;
	}
	.contact-info-portrait {
		max-width: 216px;
	}
}

@media (min-width: 992px) {
	#contact-us-thumbnail-container {
		padding: 20px 80px;
	}
	#contact-us-container {
		padding: 0 20px 0 0;
	}
}

@media (min-width: 1200px) {
	#contact-us-thumbnail-container {
		padding: 20px 50px;
	}
}

.contact-info-container {
	display: none;
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	top: 4px;
	bottom: 4px;
	left: 4px;
	right: 4px;
	text-align: center;
	max-height: 100%;
	max-width: 100%;
}

.contact-info-sub-container {
    padding: 10px 0 0 0;
}

.contact-name {
	font-size: 1.4em;
	padding: 10px 0 0 0;
	font-family: 'DJB Jacked Up Kinda Luv', cursive;
}

.contact-rank {
	font-size: 1.1em;
}

.contact-realid {
	font-size: 1em;
}

@media (min-width: 992px) {
	.contact-name {
	font-size: 1em;
	padding: 0;
	}
	.contact-rank {
	font-size: .7em;
	}
	.contact-realid {
	font-size: .6em;
	}
}